<!DOCTYPE html>
<html>
	<head>
		<title>Cam | {{title}}</title>
		<meta charset="utf-8">
	</head>

	<body>
    {{> header}}
		<form class="" action="/form" method="post">
			<input type="text" name="asdf">
			<input type="submit" name="thingy" value="submit">
		</form>
    {{> footer}}
	</body>

</html>
