<!DOCTYPE html>
<html>
	<head>
		<title>Cam | {{title}}</title>
		<meta charset="utf-8">
	</head>

	<body>
    <h1>We'll be right back</h1>
    <h2>Site currently under maintenence, please try again later.</h2>
    {{> footer}}
	</body>

</html>
