<!DOCTYPE html>
<html>
	<head>
		<title>Cam | {{title}}</title>
		<meta charset="utf-8">
	</head>

	<body>
    {{> header}}
    <p>{{screamIt welcomeMessage}}</p>
		<a href="https://www.github.com/user2047"></a>
    {{> footer}}
	</body>

</html>
